* {
    padding: 0px;
    margin: 0px;
}

h1 {
    left:50%;
    top:50%;
    text-align: center;
    transform: translateY(40px);
    font-style: oblique;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}
