.menu {
    margin: 40px;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-right: 30px;
    float:right;
}

.menu a {
    color: #b2ba97;
    text-decoration: none;
    padding: 0px 45px;
}

.menu a:hover {
    color: #41461c;
    text-decoration: none;
}

#portrait {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

#name {
    position: fixed;
    z-index: -1;
}

#leaves {
    position: fixed;
    z-index: -1;
    left: 0px;
    top: 0px;
    transform: translateX(-12%);
    opacity: 45%;
}

p {
    color: #1f1b0f;
    
}